body {
    background-image: url("https://uhdwallpapers.org/uploads/converted/20/01/14/the-mandalorian-5k-1920x1080_477555-mm-90.jpg");
}

#frontpage-h1 {
    color: white;
    text-align: center;
    margin: auto;
}

#node-h1 {
    color: white;
    text-align: center;
    margin: auto;
}

#node-h2 {
    color: white;
    text-align: center;
    margin: auto;
}

#bodytext {

}

#container {
    color: white;
    margin: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 3px;
}